@media screen and (max-width: 55em) {

/* ------------- FEATURED IMAGES ---------------  */
  .grid-01{
    display: block;
    justify-content: center;
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
  }

  .box-01{
   width: 100%;
   padding-left: 10em;
   padding-right: 10em;
   padding: 1em;
  }

  .img-01{
    width: 100%;
  }

}
